

.mtk1 {
    font-size: medium;

}

.mtk1.bracket-highlighting-0 {
    font-size: medium;
    color: #e0e300;

}
.mtk1.bracket-highlighting-1 {
    font-size: medium;
    color: #00FF6F;

}
.mtk1.bracket-highlighting-2 {
    font-size: medium;
    color: #f4473a;

}
.mtk1.bracket-highlighting-3 {
    font-size: medium;
   color:  #f8b591;
}
.mtk1.bracket-highlighting-4 {
    font-size: medium;
   color: #ff598f;
}
.mtk1.bracket-highlighting-5 {
    font-size: medium;
    color: #FF00E3;

}
.mtk1.bracket-highlighting-6 {
    font-size: medium;
    color: #00FF00;

}
.mtk2 {
    font-size: medium;

}

.mtk3 {
    font-size: medium;

}
.mtk3.mtki {
    font-size: medium;
    color:wheat;

}

.mtk10 {
    font-size: medium;
    /* color: #1105fa;
    /text-shadow: 0 0 1px black,
    0 0 2px black,
    0 0 3px black ;

    text-shadow: 0 2px 1px rgb(239, 198, 122); */
}

.mtk10.mtki {
    font-size: medium;

}

.mtk11 {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px black,
    0 0 2px black,
    0 0 3px black,
    0 0 4px rgb(158, 235, 246),
    0 0 6px rgb(208, 236, 248),
    0 0 8px #ffffff;

}
.mtk12 {
    font-size: medium;

}
.mtk12.mtki {
    font-size: medium;
    color: #fff;
    text-shadow:
        0 0 1px rgb(7, 7, 7),
        0 0 2px rgb(12, 12, 12),
        0 0 3px rgb(7, 7, 7),
        0 0 4px #f3f4f5,
        0 0 5px #52b1ff,
        0 0 6px #52baff,
        0 0 7px #52ceff,
        0 0 8px #f9fbfc;

}
.mtk13 {
    font-size: medium;

}
.mtk14 {
    font-size: medium;

}
.mtk15 {
    font-size: medium;

}
.mtk16 {
    font-size: medium;

}
.mtk17 {
    font-size: medium;

}
.mtk18 {
    font-size: medium;

}
.mtk19 {
    font-size: medium;

}

.mtk20 {
    font-size: medium;

}
.mtk21 {
    font-size: medium;

}
.mtk22 {
    font-size: medium;

}
.mtk23 {
    font-size: medium;

}
.mtk24 {
    font-size: medium;

}
.mtk25 {
    font-size: medium;

}
.mtk26 {
    font-size: medium;

}
.mtk27 {
    font-size: medium;

}
.mtk28 {
    font-size: medium;

}

.mtk4 {
    font-size: medium;

}
.mtk5 {
    font-size: medium;

}
.mtk6 {
    font-size: medium;

}

.mtk8 {
    font-size: medium;

}
.mtk9 {
    font-size: medium;

}
.mtkb {
    font-size: medium;

}
.mtki {
    font-size: medium;

}
.mtks {
    font-size: medium;

}
.mtks.mtku {
    font-size: medium;

}
.mtku {
    font-size: medium;

}
.mtkw {
    font-size: medium;

}
.mtkz {
    font-size: medium;

}

.mtk7 {
    color: rgb(247, 13, 111);
    text-shadow:
    3px 3px 0 #000,
  -1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}
.mtkcontrol {
    font-size: medium;

}
.mtkoverflow {
    font-size: medium;

}
.mtkoverflow:hover {
    font-size: medium;

}
.mtkz {
    font-size: medium;

}
