.mtk1 {
  color:white;
  text-shadow: 0 0 1px black,
  0 0 2px black,
  0 0 3px black,
  0 0 4px black,
  0 0 5px white,
  0 0 6px white;
}

.mtk1.detected-link {
  text-decoration: underline;
  text-underline-position: under;

}

.mtk1.bracket-highlighting-1 {
  color:currentColor;
  text-shadow: 0 0 1px black,
  0 0 2px black,
  0 0 3px black,
  0 0 4px black,
  0 0 5px white;
}

.mtk1.bracket-highlighting-4 {
  color:orange;
  text-shadow: 0 0 1px black,
  0 0 2px black,
  0 0 3px black,
  0 0 4px black,
  0 0 5px white;
}

.mtk1.bracket-highlighting-6 {
  color:red;
  box-shadow: 0 0 5px #00FFFF, inset 0 0 3px #e1e4e4;

}

.mtk2.bracket-highlighting-2 {
  color:currentColor;
  text-shadow: 0 0 1px black,
  0 0 2px black,
  0 0 3px black,
  0 0 4px black,
  0 0 5px white;
}

.mtk3.mtki {
  color:cornsilk;
  text-shadow: 0 0 1px black,
  0 0 2px black,
  0 0 3px black,
  0 0 4px black;
}

.mtk1 p, a, ul, li {
  color: #fb9d05;
}

.mtk3.bracket-highlighting-1 {
  color:currentColor;
  text-shadow: 0 0 1px black,
  0 0 2px black,
  0 0 3px black,
  0 0 4px black,
  0 0 5px white;
}

.mtk4.bracket-highlighting-1 {
  color:blanchedalmond;
  text-shadow: 0 0 1px black,
  0 0 2px black,
  0 0 3px black,
  0 0 4px black,
  0 0 5px white;
}

.mtk4.detected-link.detected-link {
  text-decoration: underline;
  text-underline-position: under;
  color: rgb(255, 0, 251);
}

.mtk5 {
  color:#07f596;

  text-shadow: 0 0 1px black,
  0 0 2px black,
  0 0 3px black,
  0 0 4px black,
  0 0 5px #07f5966a,
  0 0 6px #07f596;
}

.mtk5.mtkb {
  color:floralwhite;
}

.mtkb {
  font-weight: normal;
}

.mtk11 {
  color: #81f900;
  -webkit-text-fill-color: aqua;
  text-shadow: 0 0 1px black,
  0 0 2px black,
  0 0 3px black,
  0 0 4px black,
  0 0 5px black,
  0 0 7px rgb(246, 248, 249);
}

.mtk21 {
  color:goldenrod;
  text-shadow: 0 0 1px black,
  0 0 2px black,
  0 0 3px black,
  0 0 4px black,
  0 0 5px black,
  0 0 7px rgb(246, 248, 249);
}

.monaco-editor {

  text-decoration: underline;
  text-underline-position: under;
  color:rgb(210, 228, 219);
  text-shadow: 0 0 1px black,
  0 0 2px black,
  0 0 3px black,
  0 0 4px black,
  0 0 5px orangered;
}

.detected-link-active {

  text-decoration: underline;
  text-underline-position: under;
  color:springgreen;
  text-shadow: 0 0 1px black,
  0 0 2px black,
  0 0 3px black,
  0 0 4px black,
  0 0 5px rgb(245, 243, 242);
}

.inline-completion-text-to-replace {

  text-decoration: underline;
  text-underline-position: under;
  color:rgb(255, 0, 187);
  text-shadow: 0 0 1px black,
  0 0 2px black,
  0 0 3px black,
  0 0 4px black,
  0 0 5px rgb(250, 249, 249);
}

/*
.monaco-editor.detected-link-active.monaco-editor.inline-completion-text-to-replace {
  text-decoration: underline;
  text-underline-position: under;
  color:springgreen;
  text-shadow: 0 0 1px black,
  0 0 2px black,
  0 0 3px black,
  0 0 4px black,
  0 0 5px orangered;
}








  .mtk3.bracket-highlighting-1 {
  color:currentColor;
  text-shadow: 0 0 1px black,
  0 0 2px black,
  0 0 3px black,
  0 0 4px black,
  0 0 5px white;
}

  .mtk4.bracket-highlighting-1 {
  color:currentColor;
  text-shadow: 0 0 1px black,
  0 0 2px black,
  0 0 3px black,
  0 0 4px black,
  0 0 5px white;
}


  .mtk5 {
    color:currentColor;
  }

  .mtk6 {
    color:currentColor;
  }

  .mtk9 {
    color:currentColor;
  }

  .mtk10 {
    color:currentColor;
}


*/
